<section id="framework" class="wrapper-100">
    <div class="container background-colour">
        <h2 id="framework">Framework (default)</h2>
        <div class="wrapper-100">
                <h1>.wrapper-100</h1>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
            </div>
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-25 with-75-right">
                    <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-75">
                    <h4>.wrapper-75</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>   
    </div><!-- end container -->
</section>
<section id="frameworkMargin" class="wrapper-100">
    <div class="container background-colour">
        <h2>Framework (with horizontal and bottom margin)</h2>
         <p>Add <strong>class="with-margin"</strong> to the wrapper-container for horizontal margin</p>
        <p>Add <strong>class="margin-bottom"</strong> to the wrapper-container for bottom vertical margin</p>
        <div class="wrapper-100 margin-bottom">
                <h1>.wrapper-100</h1>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
            </div>
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-25 with-75-right">
                    <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-75">
                    <h4>.wrapper-75</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
        </div>     
    </div><!-- end container -->
</section>
<section id="frameworkPadding" class="wrapper-100">
    <div class="container background-colour">
        <h2>Framework (with internal padding)</h2>
        <p>Add <strong>class="padded-content"</strong> inside wrapper div for internal padding</p>
        <div class="wrapper-100">
            <div class="padded-content">
                <h1>.wrapper-100</h1>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-50">
                <div class="padded-content" >
                    <h2>.wrapper-50</h2>
                </div>
            </div>
           <div class="wrapper-50">
                <div class="padded-content" >
                    <h2>.wrapper-50</h2>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-25 with-75-right">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-75">
                <div class="padded-content">
                    <h4>.wrapper-75</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-75">
                <div class="padded-content">
                    <h4>.wrapper-75</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-66">
                <div class="padded-content">
                    <h4>.wrapper-66</h4>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h4>.wrapper-33</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-33">
                <div class="padded-content">
                    <h4>.wrapper-33</h4>
                </div>
            </div>
            <div class="wrapper-66">
                <div class="padded-content">
                    <h4>.wrapper-66</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-60">
                <div class="padded-content">
                    <h4>.wrapper-60</h4>
                </div>
            </div>
            <div class="wrapper-40">
                <div class="padded-content">
                    <h4>.wrapper-40</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-40">
                <div class="padded-content">
                    <h4>.wrapper-40</h4>
                </div>
            </div>
            <div class="wrapper-60">
                <div class="padded-content">
                    <h4>.wrapper-60</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-80">
                <div class="padded-content">
                    <h4>.wrapper-80</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-80">
                <div class="padded-content">
                    <h4>.wrapper-80</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
        </div>  
    </div><!-- end container -->
</section>

<section id="frameworkAll" class="wrapper-100">
    <div class="container background-colour">
        <h2>Framework (with horizontal margin, bottom margin and internal padding)</h2>
        <p>Add <strong>class="padded-content"</strong> inside wrapper div for internal padding</p>
        <p>Add <strong>class="with-margin"</strong> to the wrapper-container for horizontal margin</p>
        <p>Add <strong>class="margin-bottom"</strong> to the wrapper-container for bottom vertical margin</p>
        <div class="wrapper-100 with-margin margin-bottom">
            <div class="padded-content">
                <h1>.wrapper-100</h1>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-50">
                <div class="padded-content" >
                    <h2>.wrapper-50</h2>
                </div>
            </div>
           <div class="wrapper-50">
                <div class="padded-content" >
                    <h2>.wrapper-50</h2>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h3>.wrapper-33</h3>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-25 with-75-right">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
            <div class="wrapper-75">
                <div class="padded-content">
                    <h4>.wrapper-75</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-75">
                <div class="padded-content">
                    <h4>.wrapper-75</h4>
                </div>
            </div>
            <div class="wrapper-25">
                <div class="padded-content">
                    <h4>.wrapper-25</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-66">
                <div class="padded-content">
                    <h4>.wrapper-66</h4>
                </div>
            </div>
            <div class="wrapper-33">
                <div class="padded-content">
                    <h4>.wrapper-33</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-33">
                <div class="padded-content">
                    <h4>.wrapper-33</h4>
                </div>
            </div>
            <div class="wrapper-66">
                <div class="padded-content">
                    <h4>.wrapper-66</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-60">
                <div class="padded-content">
                    <h4>.wrapper-60</h4>
                </div>
            </div>
            <div class="wrapper-40">
                <div class="padded-content">
                    <h4>.wrapper-40</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-40">
                <div class="padded-content">
                    <h4>.wrapper-40</h4>
                </div>
            </div>
            <div class="wrapper-60">
                <div class="padded-content">
                    <h4>.wrapper-60</h4>
                </div>
            </div>
        </div>
          <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-80">
                <div class="padded-content">
                    <h4>.wrapper-80</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-80">
                <div class="padded-content">
                    <h4>.wrapper-80</h4>
                </div>
            </div>
        </div>
        <div class="wrapper-container with-margin margin-bottom">
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
            <div class="wrapper-20">
                <div class="padded-content">
                    <h4>.wrapper-20</h4>
                </div>
            </div>
        </div>  
    </div><!-- end container -->
</section>

<section id="frameworkFeatures" class="wrapper-100">
    <div class="container background-colour">

        <h2>Framework Features (mobile / tablet only gutter spacing)</h2>
        <p>You can use <strong>class="mobile-padding"</strong> or <strong>class="mobile-margin"</strong> on the wrapper-container or the sizing e.g. wrapper-100 for additonal left and right spacing up to 980px.</p>
 
        <div class="wrapper-100 mobile-margin">
            <h1>.wrapper-100</h1>
            <p>with "mobile-margin" on wrapper-100</p>
        </div>
        <div class="wrapper-container mobile-margin">
            <div class="wrapper-50">
                <h2>.wrapper-50 </h2>
                <p>with "mobile-margin" on wrapper-container</p>
            </div>
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
                <p>with "mobile-margin" on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-25 with-75-right">
                    <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-75">
                    <h4>.wrapper-75</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
        </div>
        <div class="wrapper-container mobile-padding">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
    </div><!-- end container -->
</section>

<section id="frameworkFeaturesEqualHeight" class="wrapper-100">
    <div class="container background-colour">

        <h2>Framework Features (FlexBox equal height columns)</h2>
        <p>You can use <strong>class="with-equal-height"</strong>  on the wrapper-container to trigger flexbox to force columns to have equal height.</p>
        <p>By default flexbox will kick in at 600px viewport. <a href="http://caniuse.com/#search=flexbox" target="_blank">View FlexBox support</a><p>

        <div class="wrapper-container with-equal-height">
            <div class="wrapper-50">
                <h2>.wrapper-50 </h2>
                <p><%= lorem.paragraphs 2 %></p>
            </div>
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
                <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
                <p><%= lorem.paragraphs 1 %></p>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
                 <p><%= lorem.paragraphs 1 %></p>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-25 with-75-right">
                    <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-75">
                    <h4>.wrapper-75</h4>
                     <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
                 <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
                  <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
                 <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
                 <p><%= lorem.paragraphs 1 %></p>
            </div>
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
                <p><%= lorem.paragraphs 1 %></p>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
                <p><%= lorem.paragraphs 1 %></p>
            </div>
        </div>
        <div class="wrapper-container with-equal-height">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
                <p><%= lorem.sentence %></p>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
    </div><!-- end container -->
</section>

<section id="frameworkFeaturesAlign" class="wrapper-100">
    <div class="container background-colour">

        <h2>Framework Features (FlexBox vertically aligning)</h2>
        <p>You can use <strong>class="vert-align-center"</strong>  on the wrapper-container to vertically align children within that class.</p>
        <p>This uses flexbox and flexalign <a href="http://caniuse.com/#search=flexbox" target="_blank">View FlexBox support</a><p>

        <div class="wrapper-container vert-align-center">
            <div class="wrapper-50">
                <h2>.wrapper-50 </h2>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-50">
                <h2>.wrapper-50</h2>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-25 with-75-right">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
            </div>
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-33">
                <h4>.wrapper-33</h4>
            </div>
            <div class="wrapper-66">
                 <h4>.wrapper-66</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
        </div>
        <div class="wrapper-container vert-align-center">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
                <p>vert-align-center set on wrapper-container</p>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
    </div><!-- end container -->
</section>


<section id="frameworkCenterContent" class="wrapper-100">
    <div class="container background-colour">

        <h2>Framework Features (Centering framework wrappers)</h2>
        <p>You can use <strong>class="center-framework"</strong> on the wrapper-container to horizontally align wrapper divs that would otherwise be left aligned.</p>
        <p> Can't be used with <strong>with-margin</strong> class.</p>
        <div class="wrapper-container center-framework with-margin">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
             <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-80">
                <h4>.wrapper-80</h4>
            </div>
        </div>
         <div class="wrapper-container center-framework">
            <div class="wrapper-75">
                <h4>.wrapper-75</h4>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-66">
                <h4>.wrapper-66</h4>
            </div>
        </div>

        <div class="wrapper-container center-framework">
            <div class="wrapper-60">
                <h4>.wrapper-60</h4>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-50">
                <h2>.wrapper-50 </h2>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-40">
                <h4>.wrapper-40</h4>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-33">
                <h3>.wrapper-33</h3>
            </div>
        </div>
        <div class="wrapper-container center-framework">
            <div class="wrapper-25">
                <h4>.wrapper-25</h4>
            </div>
        </div>
         <div class="wrapper-container center-framework">
            <div class="wrapper-20">
                <h4>.wrapper-20</h4>
            </div>
        </div>
    </div><!-- end container -->
</section>


<style>
    .background-colour .wrapper-100,
    .background-colour .wrapper-50,
    .background-colour .wrapper-33,
    .background-colour .wrapper-25,
    .background-colour .wrapper-66,
    .background-colour .wrapper-75,
    .background-colour .wrapper-60,
    .background-colour .wrapper-40,
    .background-colour .wrapper-20,
    .background-colour .wrapper-80 {
        background-color:#c2d9e6;
        border:1px solid #216990;
    }
</style>
